:root {
    --pink: rgba(224, 72, 93, 1);
    /*#e0485d*/
    --header-bg-pink: rgba(224, 72, 93, .8);
    --cobalt: rgba(78, 70, 150, 1)4E4696;
    /*#4e4696*/
    --header-bg-cobalt: rgba(78, 70, 150, .05);
    --aureolin: #FCEC00;
    --green: #4CAA2B;
    --sage: #AECF80;
}

header {
    height: 400px;
    /* background: rgb(174, 207, 128);
    background: linear-gradient(90deg, var(--sage) 1%, var(--green) 24%, var(--green) 74%, var(--sage) 98%);
    color: var(--aureolin); */
}

header h1 {
    font-size: 4rem;
}

main {
    background: rgb(174, 207, 128);
    background: linear-gradient(90deg, var(--sage) 1%, var(--green) 24%, var(--green) 74%, var(--sage) 98%);
}

#spinner {
    height: 400px;
}

footer {
    height: 200px;
}