:root {
    --pink: #ED6A5A;
    --cream: #F4F1BB;
    --sky-blue: #9BC1BC;
    --blue: #5CA4A9;
    --gray: #E6EBE0;
}

header {
    height: 400px;
    background: var(--pink);
    /*
    background: linear-gradient(90deg, var(--sage) 1%, var(--green) 24%, var(--green) 74%, var(--sage) 98%);
    color: var(--aureolin); */
}

header h1 {
    font-size: 4rem;
    color: var(--cream);
}

header input {
    background-color: var(--cream);
    padding: 7px 25px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    color: var(--blue);
    outline: none;

}

#search-btn {
    background-color: var(--blue);
    color: var(--cream);
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    font-size: 1.2rem;
}

main {
    background-color: #9BC1BC;
    /* background: rgb(174, 207, 128);
    background: linear-gradient(90deg, var(--sage) 1%, var(--green) 24%, var(--green) 74%, var(--sage) 98%); */
}

.card-color {
    background-color: #E6EBE0;
}

#spinner {
    height: 400px;
}

footer {
    height: 200px;
}

.pink-bg {
    background-color: var(--pink);
}